<link rel="stylesheet" href="components/rank/rank.css" />
<div id="rankView" class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <h4>Level</h4>
            <p id="level">N/A</p>
        </div>
        <div class="col">
            <h4>Rank</h4>
            <p id="rank">N/A</p>
        </div>
        <div class="col">
            <h4>Class</h4>
            <p id="class">N/A</p>
        </div>
        <div class="col">
            <h4>XPH</h4>
            <p id="xph">N/A</p>
        </div>            
    </div>
    <div class="row">
        <p id="rankStatus" class="text-warning"></p>
    </div>
</div>