<link rel="stylesheet" href="components/launchControls/launchControls.css">
<div id="launchControls" class="container">
    <div id="menu" class="container">
        <div class="row">
            <span>Scale: <span id="scaleValue">100%</span></span><input class="form-range" type="range" id="windowScale" name="scale" min="0" max="1" step="0.01" value="1">
        </div>
        <div class="row">
            <form>
                <div id="col">
                    <input type="checkbox" name="draggable" id="draggable" checked title="Draggable">
                    <label for="draggable">Draggable</label>
                </div>
            </form>
        </div>
        <div class="row">
            <button id="debug">Debug</button>
        </div>
        <div class="row">
            <button id="close">Close</button>
        </div>
    </div>
</div>