<nav id="navbarView" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a id="settingsBtn" class="navbar-brand" href="#">Settings</a>
      <a hidden id="launchBtn" class="navbar-brand" href="#">Launch</a>
      <a id="previewBtn" class="navbar-brand" href="#">Preview</a>
    </div>
</nav>