<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href='/static/css/rank.css'/>
        <script src='/static/js/rank.js'></script>
    </head>
    <body>
        <div class="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-3">
                        <h4>Level</h4>
                        <p id="level">N/A</p>
                    </div>
                    <div class="col-sm-3">
                        <h4>Rank</h4>
                        <p id="rank">N/A</p>
                    </div>
                    <div class="col-sm-3">
                        <h4>Class</h4>
                        <p id="class">N/A</p>
                    </div>
                    <div class="col-sm-3">
                        <h4>XPH</h4>
                        <p id="xph">N/A</p>
                    </div>            
                </div>
                <div class="row">
                    <p id="status" class="text-warning"></p>
                </div>
                <div hidden id="settings" class="row">
                    <button type="submit" class="btn btn-info">Back to Settings</button>
                </div>
            </div>
        </div>
    </body>
</html>